body {
  margin: 0;
  cursor: none;
}

.header {
  position: fixed;
  bottom: 20%;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: 12px;
  box-shadow: 2px 1px 4px 1px #888888;

}
#grid {
  width: 90%;
  display: block;
  float: left;
}

#trophies {
  position: fixed;
  right: 0;
  top: 0;
  width: 10%;
  min-width: 50px;
  text-align: center;
  float: right;
  height: 100vh;
  border-left: 1px dotted grey;
}

#trophies img {
  padding-top: 12px;
  display: block;
  margin: auto;
}



.grid-item {
  display: inline-block;
  background: #FFFFFF;
  float: left;
}

.interactions {
  display: block;
  width: auto;
  float: left;
}

.interactions a {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid black;
}


#objective {
  display: block;
}

#winningCursorImg {
  display: none;
}
