body {
  margin: 0;
  cursor: none;
  font-family: 'Source Code Pro', monospace;
}

.header {
  position: fixed;
  bottom: 20%;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: 12px;
  cursor: progress;
  background: #FFFFFF;
  color: #444444;
  line-height: 24px;
  font-size: 16px;
}

.boxed {
  box-shadow: 2px 1px 4px 1px #888888;
  transition: 0.3s;
}

#grid {
  width: 90%;
  float: left;
}


#trophies {
  transition: opacity 2s;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 10%;
  min-width: 50px;
  text-align: center;
  float: right;
  height: 100vh;
  border-left: 2px solid grey;
  text-transform: uppercase;
}

#trophies img {
  padding-top: 12px;
  display: block;
  margin: auto;
}



.grid-item {
  display: block;
  float: left;
}

.interactions {
  display: block;
  width: auto;
  float: left;
}

.interactions a {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid #444444;
}


#objective {
  display: block;
}

#winningCursorImg {
  display: none;
}
