body {
  cursor: url(../img/small_shepherd_cursor.png), none;
  margin: 0;
  cursor: default;
  font-family: 'Source Code Pro', monospace;
}

.touch-events, .no-csspointervents .introSubtitle {
  font-size: 24px;
  content: "Looks like you don't have a mouse. That's a shame. This game has no use for mouseless people. Send the link to yourself, and come back when you have a mouse. Have a good one.";
};

.hidden {
  display: none !important;
}

.header {
  display: inline-block;
  vertical-align: middle;
  max-width: 50%;
  padding: 12px;
  cursor: url(../img/small_shepherd_cursor.png), default;
  background: #FFFFFF;
  color: #444444;
  line-height: 24px;
  font-size: 16px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  border-radius: 3px;
  border: 1px solid #444444;
}


.boxed {
  box-shadow: 2px 1px 4px 1px #888888;
  transition: 0.3s;
}

#grid {
  position: relative;
  width: 90vw;
  float: left;
  max-height: 100vh;
  overflow: auto;
}

#trophies {
  transition: opacity 2s;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 10vw;
  min-width: 50px;
  text-align: center;
  float: right;
  height: 100vh;
  border-left: 2px solid grey;
  text-transform: uppercase;
}

#trophies img {
  transition: opacity 2s;
  padding-top: 12px;
  display: block;
  margin: auto;
}



.grid-item {
  display: block;
  float: left;
}

.interactions {
  display: block;
  width: auto;
  float: left;
}

.interactions a {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid #444444;
}


#objective {
  display: block;
}

#winningCursorImg {
  display: none;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 24071991;
  background-color: #FFFFFF;
  text-align: center;
  color: #444444;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#introTitle {
  line-height: 16.25vh;
  font-size: 10vh;
  transition: opacity 2s;
}

#introSubtitle {
  font-size: 4vh;
  transition: opacity 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// EMOJI ATTACK

.emoji {
  z-index: 23081991;
  cursor: wait;
}
